a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: loraB;
    src: url(../resources/font/lora/lora-bold-webfont.eot);
    src: url(../resources/font/lora/lora-bold-webfont.eot?#iefix) format('embedded-opentype'), url(../resources/font/lora/lora-bold-webfont.woff2) format('woff2'), url(../resources/font/lora/lora-bold-webfont.woff) format('woff'), url(../resources/font/lora/lora-bold-webfont.ttf) format('truetype'), url(../resources/font/lora/lora-bold-webfont.svg#loraB) format('svg')
}

@font-face {
    font-family: loraI;
    src: url(../resources/font/lora/lora-italic-webfont.eot);
    src: url(../resources/font/lora/lora-italic-webfont.eot?#iefix) format('embedded-opentype'), url(../resources/font/lora/lora-italic-webfont.woff2) format('woff2'), url(../resources/font/lora/lora-italic-webfont.woff) format('woff'), url(../resources/font/lora/lora-italic-webfont.ttf) format('truetype'), url(../resources/font/lora/lora-italic-webfont.svg#loraB) format('svg')
}

@font-face {
    font-family: opensans;
    src: url(../resources/font/open-sans/opensans-regular-webfont.eot);
    src: url(../resources/font/open-sans/opensans-regular-webfont.eot?#iefix) format('embedded-opentype'), url(../resources/font/open-sans/opensans-regular-webfont.woff2) format('woff2'), url(../resources/font/open-sans/opensans-regular-webfont.woff) format('woff'), url(../resources/font/open-sans/opensans-regular-webfont.ttf) format('truetype'), url(../resources/font/open-sans/opensans-regular-webfont.svg#loraB) format('svg')
}

@font-face {
    font-family: opensansB;
    src: url(../resources/font/open-sans/opensans-bold-webfont.eot);
    src: url(../resources/font/open-sans/opensans-bold-webfont.eot?#iefix) format('embedded-opentype'), url(../resources/font/open-sans/opensans-bold-webfont.woff2) format('woff2'), url(../resources/font/open-sans/opensans-bold-webfont.woff) format('woff'), url(../resources/font/open-sans/opensans-bold-webfont.ttf) format('truetype'), url(../resources/font/open-sans/opensans-bold-webfont.svg#loraB) format('svg')
}

@font-face {
    font-family: opensansI;
    src: url(../resources/font/open-sans/opensans-regular-webfont.eot);
    src: url(../resources/font/open-sans/opensans-regular-webfont.eot?#iefix) format('embedded-opentype'), url(../resources/font/open-sans/opensans-regular-webfont.woff2) format('woff2'), url(../resources/font/open-sans/opensans-regular-webfont.woff) format('woff'), url(../resources/font/open-sans/opensans-regular-webfont.ttf) format('truetype'), url(../resources/font/open-sans/opensans-regular-webfont.svg#loraB) format('svg')
}

:root {
    --purpleGradient: linear-gradient(to right, #20004F 0%, #47002C 51%, #20004F 100%);
    --shadow: 0 0 30px rgba(210, 210, 210, .6)
}

p, small {
    font-family: opensans, sans-serif
}

.containerTitle span, h1, h2, h3 {
    font-family: loraB, sans-serif
}

a {
    text-decoration: none;
    font-family: opensansB, sans-serif;
    color: #737373
}

b {
    font-family: opensansB, sans-serif
}

p {
    line-height: 1.6;
    max-width: 500px;
    font-size: 1rem
}

.notVisible {
    display: none
}

.hidden {
    position: absolute;
    text-indent: -9999px
}

.current_page_item a {
    color: #000;
    border-bottom: 3px solid #20004f
}

.menu a:hover {
    color: #000;
    border-bottom: 3px solid #20004f;
    padding: 0 5px
}

.menu a {
    padding: 0 5px;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s
}

.containerHome {
    padding: 3rem 2rem 2rem
}

li .btnTickets:hover {
    border: none;
    padding: 10px 0;
    color: #fff;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 10px 13px -7px #1e0000, 5px 5px 15px 5px rgba(210, 210, 210, 0);
    box-shadow: 0 10px 13px -7px #1e0000, 5px 5px 15px 5px rgba(210, 210, 210, 0)
}

ul .btnTickets {
    background: var(--purpleGradient);
    color: #fff;
    border-radius: 3px;
    width: 100%;
    display: block;
    border: none;
    max-width: 400px;
    margin: auto;
    padding: 20px 0
}

.btnCta {
    background-image: var(--purpleGradient);
    color: #fff;
    display: block;
    font-size: 1.1rem;
    padding: 10px 50px 10px 20px;
    line-height: 1.6;
    max-width: 400px;
    position: relative;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background-size: 200% auto;
    border: 0
}

.btnContact {
    width: 100%;
    margin-top: 20px;
    text-align: inherit
}

.containerFormulary li {
    font-family: opensansB, sans-serif;
    line-height: 25px;
    margin: 20px 0;
    padding: 10px 0 10px 50px;
    word-break: break-word;
    color: #000
}

.containerFormulary a {
    color: #000;
    font-family: opensansB, sans-serif
}

.containerFormulary input, .containerFormulary textarea, .formContact select {
    padding: 10px;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    font-family: opensansB, sans-serif;
    font-size: 1rem;
    border: 1px solid #f2f2f2
}

.containerFormulary ul {
    margin: 30px 0
}

.formContact:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 50%;
    height: 3px;
    background: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0
}

.formContact input::-webkit-input-placeholder, .formContact textarea::-webkit-input-placeholder {
    color: #000;
    opacity: .4
}

.formContact input::-moz-placeholder, .formContact textarea::-moz-placeholder {
    color: #000;
    opacity: .4
}

.formContact input:-ms-input-placeholder, .formContact textarea:-ms-input-placeholder {
    color: #000;
    opacity: .4
}

.formContact input::-ms-input-placeholder, .formContact textarea::-ms-input-placeholder {
    color: #000;
    opacity: .4
}

.formContact input::placeholder, .formContact textarea::placeholder {
    color: #000;
    opacity: .4
}

@-webkit-keyframes downarrow {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -webkit-transform: translate(15px, 0);
        transform: translate(15px, 0);
        opacity: 0
    }
}

@keyframes downarrow {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        -webkit-transform: translate(15px, 0);
        transform: translate(15px, 0);
        opacity: 0
    }
}

.btnCta:hover {
    background-position: right center
}

.btnCta:hover .arrowCta {
    -webkit-animation: downarrow .8s infinite;
    animation: downarrow .8s infinite
}

.arrowCta {
    display: block;
    width: 15px;
    height: 100%;
    position: absolute;
    right: 30px;
    top: 0;
    background: url(../resources/svg/arrow.svg) no-repeat center;
    background-size: 70%
}

.formContact, .infoBuyPrice, .infoBuyTicket, .infoContactDate, .infoContactMail, .infoContactPhone, .infoContactPlace, .infoContactWebsite {
    position: relative
}

.formContact {
    margin-top: 50px;
    padding-top: 50px
}

.infoBuyPrice::before, .infoBuyTicket::before, .infoContactDate::before, .infoContactMail::before, .infoContactPhone::before, .infoContactPlace::before, .infoContactWebsite::before {
    display: block;
    content: "";
    width: 30px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../resources/svg/phone.svg) no-repeat center;
    background-size: 100%
}

.infoBuyTicket::before {
    background: url(../resources/svg/tickets.svg) no-repeat center
}

.infoBuyPrice::before {
    background: url(../resources/svg/euro.svg) no-repeat center
}

.infoContactDate::before {
    background-image: url(../resources/svg/calendar.svg)
}

.itemTotalPrice {
    font-family: opensansB, sans-serif;
    text-align: center;
    font-size: 1.2rem
}

div .containerShoppingCart {
    padding: 0 0 30px;
    margin-bottom: 20px;
    font-size: 1.2rem
}

.infoContactPlace::before {
    background-image: url(../resources/svg/placeholder.svg)
}

.infoContactMail::before {
    background-image: url(../resources/svg/email.svg)
}

.infoContactWebsite::before {
    background-image: url(../resources/svg/world-wide-web.svg)
}

.containerTitleHome {
    font-size: 2em;
    line-height: 1.2;
    font-weight: 700
}

.containerTitleHome span {
    font-size: .7em;
    line-height: 1.4
}

.textTitle {
    line-height: 1.5rem
}

.logoFooter {
    max-width: 120px;
    margin: 0 auto
}

.containerBecomeExposant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 3rem 2rem
}

.btnExposant {
    margin: auto
}

.containerBecomeVigneron {
    padding: 1rem;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    margin-bottom: 5px
}

.logoFcb {
    max-width: 40px;
    margin-left: 10px
}

.actualityFooter {
    margin: auto
}

.containerActualityFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.containerPracticalInformation img {
    max-width: 40px
}

.containerPracticalInformation section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

footer {
    margin: 1rem
}

.containerPracticalInformation section {
    margin: 50px 0
}

.containerPracticalInformation h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 1.3rem
}

.pictoDateFooter, .pictoLocationFooter, .pictoPriceFooter {
    display: block;
    width: 50px;
    height: 50px;
    background-size: 100%;
    margin: 0 auto
}

.containerTitleSlide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px
}

.containerTitleSlide h2 {
    font-size: 1.5rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.arrowsSlide {
    width: 50%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1.7em;
    background: var(--purpleGradient);
    padding: 30px 0;
    max-width: 200px
}

.arrowsSlide:after {
    content: "";
    display: block;
    width: 3px;
    position: absolute;
    height: 35px;
    background: #fff;
    top: 12px;
    opacity: .4;
    border-radius: 10px
}

.next, .prev {
    position: absolute;
    top: 0;
    height: 60px;
    width: 50%;
    cursor: pointer;
    background: url(../resources/svg/arrow.svg) no-repeat center
}

.prev {
    left: 0;
    top: 1px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.next {
    right: 0
}

.pictoPriceFooter {
    background: url(../resources/svg/price-tag.svg) no-repeat center
}

.mySlides h3 {
    font-size: 1.9rem
}

.pictoDateFooter {
    background: url(../resources/svg/calendar.svg) no-repeat center
}

.pictoLocationFooter {
    background: url(../resources/svg/placeholder.svg) no-repeat center
}


.containerPresentationHome {
    margin-top: 90px
}

.containerTicketsHome {
    position: relative
}

.ctaTickets {
    padding: 12px;
    top: 100px;
    border-radius: 5px;
    background: var(--purpleGradient);
    color: transparent;
    position: fixed;
    right: -5px;
    width: 21px;
    text-indent: -9999px;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    font-weight: 700;
    z-index: 1;
    letter-spacing: .6px
}

.ctaTickets:hover {
    width: 83px;
    color: #fff;
    text-indent: 30px
}

.ctaTickets:after {
    content: "";
    background-image: url(../resources/svg/tickets-white.svg);
    background-repeat: no-repeat;
    height: 25px;
    background-position: center;
    width: 25px;
    display: block;
    background-size: 100%;
    position: absolute;
    top: 8px;
    left: 8px
}

.logo {
    max-width: 100px
}

img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 500px
}

.container {
    max-width: 80rem;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    margin: 0 auto
}

.brand {
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: inherit;
    color: #148cb8;
    text-transform: uppercase;
    text-rendering: optimizeLegibility
}

.containerTitle span {
    font-size: 1.3rem
}

.containerTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative
}

.marketTitle {
    position: absolute;
    right: 0;
    top: 20px
}

.marketTitle span {
    font-size: 1.4rem
}

.containerTextHome {
    margin: 40px 0 10px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.containerTextHome p {
    margin: 30px 0
}

.containerImagesHome {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 10px minmax(0, 1fr) 10px minmax(0, 1fr);
    grid-template-columns:repeat(3, minmax(0, 1fr));
    grid-gap: 10px
}

.navbar {
    width: 100%;
    color: #252a32;
    background: #fff;
    position: fixed;
    z-index: 1;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow)
}

.containerAimHome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 4rem 2rem -50px
}

.containerAimHome section {
    margin-bottom: 100px
}

.containerAimHome p {
    margin-bottom: 40px
}

.containerAimHome h3 {
    font-size: 1.3rem;
    margin: 40px 0 20px
}

.menuOpenNavbar {
    min-height: 100%
}

.navbar .navbrand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem
}

.sectionContainerHome {
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow)
}

.navbar .navbrand .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    z-index: 2;
    display: flex;
    padding: 10px;
    margin-right: -10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: 0;
    background: 0 0;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease
}

.slider {
    padding: 50px 2rem
}

.containerInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px
}

.containerButtonsRadio p, .containerInput label {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-family: opensansB, sans-serif
}

.containerButtonsRadio label {
    font-size: 1rem;
    font-family: opensansB, sans-serif;
    color: #595959
}

.containerButtonRadio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.buttonRadio {
    margin: 5px 0
}

.containerButtonsRadio {
    margin-bottom: 40px
}

.titleForm {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
    font-family: loraB, sans-serif;
    font-size: 1.5rem;
    max-width: inherit
}

.containerFormulary {
    padding: 3rem 2rem;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    position: relative
}

.sectionContainerSlide {
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow)
}

.textExposant {
    margin: 30px 0;
    font-size: 1rem
}

small {
    font-size: .8rem;
    text-align: center;
    display: block
}

.regionExposant {
    font-family: loraI, sans-serif;
    font-size: 1.3rem;
    margin: 20px 0
}

.menu li {
    margin: 30px 0;
    text-align: center;
    font-size: 1.5em
}

.menu li:nth-child(1) {
    margin: 0;
}

.navbar .navbrand .burger-close {
    display: none
}

ul .containerBtnTickets {
    margin-top: 40px
}

ul .btnTicketsMenu {
    margin: 50px 1rem
}

.navbar .navbrand .burger.active .burger-open {
    display: none
}

.navbar .navbrand .burger.active .burger-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.navbar .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.navbar .menu-item {
    margin: .5rem 0
}

.navbar .menu-link {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    color: #252a32;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease
}

.navbar .menu-link:hover {
    color: #148cb8
}

.navbar .menu.active {
    width: 100%;
    height: 100%;
    margin: -50px 0 1rem;
}

.navbar .social {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.navbar .social-item {
    font-size: 1.3rem;
    line-height: inherit;
    margin: 0 .5rem;
    color: #252a32;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease
}

.navbar .social-item:hover {
    color: #148cb8
}

.containerTextTitleAim h2 {
    font-size: 1.3rem;
    margin: 50px 0 20px
}

.containerImageHome {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.containerAllExposants {
    margin-top: 70px;
    width: 100%
}

.textPracticalInformation {
    text-align: center;
    margin: auto
}

.containerPracticalInformation {
    font-size: 1.3rem;
    margin-top: 100px
}

.containerImagesGallery {
    display: -ms-grid;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 1rem 2rem
}

.containerFilterGallery {
    margin-top: 70px;
    margin-bottom: 40px
}

.titleExposant {
    margin-bottom: 50px;
    margin-top: 20px
}

.containerFilters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: .5rem 0
}

.containerFiltersAll {
    background: var(--purpleGradient);
    margin: 0 -2rem;
}

.countriesFilter, .pageFilter, .productsFilter, .searchFilter {
    position: relative;
    margin: 15px 2rem;
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #fff
}

.pageFilter {
    z-index: 1
}

.countriesFilter label, .pageFilter label, .productsFilter label, .searchFilter label {
    color: transparent;
    position: absolute
}

.btnTicketsMenu a {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.search, select {
    cursor: pointer;
    width: 100%;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: opensansB, sans-serif;
    color: #fff;
    background: url(../resources/svg/arrowDown.svg) no-repeat 98% 50%;
    background-size: 20px;
    font-size: 1rem;
    height: 52px;
    border: 1px solid #fff;
    padding: 3px 3px 3px 50px;
    border-radius: 3px;
    margin-left: 0
}

select > option {
    background: #fff
}

.search {
    background: 0 0;
    height: 52px;
    border: 1px solid #fff;
    padding: 3px 3px 3px 50px;
    border-radius: 3px;
    margin-left: 0
}

.containerFilters span {
    border: none;
    padding: 0;
    position: relative;
}

.search::-webkit-input-placeholder {
    color: #fff;
    opacity: .6
}

.search::-moz-placeholder {
    color: #fff;
    opacity: .6
}

.search:-ms-input-placeholder {
    color: #fff;
    opacity: .6
}

.search::-ms-input-placeholder {
    color: #fff;
    opacity: .6
}

.search::placeholder {
    color: #fff;
    opacity: .6
}

.containerExposants {
    display: -ms-grid;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.sectionContainerExposants {
    margin: 4rem 2rem 1rem;
}

.containerExposant img {
    max-width: 60px;
    margin: 1rem auto
}

.countriesFilter:before, .pageFilter:before, .productsFilter:before, .searchFilter:before {
    background-image: url(../resources/svg/country.svg);
    position: absolute;
    top: 5px;
    content: "";
    left: 6px;
    width: 38px;
    height: 38px;
    display: block
}

.containerExposant, .tagsContainer {
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    padding: 1rem
}

.formContact select {
    background: url(../resources/svg/arrowDownBlack.svg) no-repeat 98% 50%;
    color: #000
}

.containerExposant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 400px
}

.moduleTag {
    position: relative;
    padding: 30% 2em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    background-clip: padding-box;
    border: solid 1px transparent;
    text-align: center
}

.moduleTagExpo {
    padding: 5px 10px;
    border-radius: 3px;
    margin: 0 5px;
    font-family: opensans, sans-serif
}

.moduleTagExpo:nth-child(1) {
    margin-left: 0
}

.containerModulesTagsExpo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px
}

.tagsContainer {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: minmax(0, 1fr) 20px minmax(0, 1fr);
    grid-template-columns:repeat(2, minmax(0, 1fr));
    padding: 1rem 0;
    margin: 10px 0
}

.tagsContainer div {
    padding: 5px;
    font-family: opensans, sans-serif;
    border: 1px solid #000;
    margin: 0 10px
}

.moduleTag:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .5;
    margin: -2px;
    border-radius: inherit;
    background: var(--purpleGradient)
}

.containerExposant h3 {
    font-size: 1.3rem
}

option {
    font-family: opensansB, sans-serif;
    color: #fff
}

.textRegionExposant {
    font-family: loraI, sans-serif;
    padding: .5rem 0 1rem
}

.productsFilter:before {
    background-image: url(../resources/svg/food.svg)
}

.pageFilter:before {
    background-image: url(../resources/svg/document-white.svg)
}

.searchFilter:before {
    background-image: url(../resources/svg/loupe.svg);
    left: 7px
}

.containerMenu {
    text-align: center;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    padding: 2rem;
    margin: 50px auto auto;
    max-width: 1100px
}

.containerMenu ul li:nth-child(1) {
    margin-top: 0
}

.menuDesserts, .menuPrincipalMeat, .menuSandwichs {
    position: relative
}

.menuDesserts:before, .menuPrincipalMeat:before, .menuSandwichs:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -11px;
    left: -55px;
    background-image: url(../resources/svg/dish.svg)
}

.menuSandwichs:before {
    background-image: url(../resources/svg/take-away.svg)
}

.menuDesserts:before {
    background-image: url(../resources/svg/dessert.svg)
}

.containerMenu ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: opensans, sans-serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 40px 0
}

.MenuCta {
    margin: 70px auto auto
}

.containerMenu ul span {
    text-align: center;
    margin-top: 5px;
    font-size: 1.2rem
}

.containerMenu h2 {
    font-size: 1.5rem
}

.containerMenu h3 {
    font-size: 1.2rem;
    display: inline-block;
    margin: 40px 0 30px
}

.priceBecomeExpo {
    font-family: opensansB, sans-serif
}

.containerSandwichs {
    position: relative;
    padding: 3rem 0;
    margin: 6rem 0 4rem
}

.principalTitle {
    position: fixed;
    left: 0;
    right: 0;
    font-size: 1.5rem;
    z-index: 1;
    padding: 5px 2rem;
    max-width: 250px;
    text-align: initial;
    top: 23px;
    background: -webkit-linear-gradient(right, #20004F, #47002C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--purpleGradient);
}

.containerSandwichs:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 50%;
    height: 3px;
    background: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0
}

.containerAboutUs {
    display: -ms-grid;
    display: grid;
    grid-template-columns:repeat(1, minmax(200px, 1fr));
    justify-items: center;
    margin: 0 2rem;
    padding: 3rem 0
}

.containerSandwichs:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 50%;
    height: 3px;
    background: #dcdcdc;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0
}

.containerHistorical {
    display: -ms-grid;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    padding: 3rem 2rem;
    grid-gap: 20px
}

.containerHistorical img {
    -ms-grid-column-align: center;
    justify-self: center;
    max-width: 340px
}

.containerAbout {
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow)
}

.containerAboutUs img {
    max-width: 60px;
    margin: auto
}

.containerHistorical p {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.containerAboutUs h3 {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 0 10px
}

.containerAboutUsWhySection {
    margin-bottom: 70px
}

.containerAboutUsHowSection img {
    max-width: 100px
}

.formBecomeContainer form:before {
    display: none
}

.formBecomeContainer form:before {
    display: none
}

.defaultSelectOption {
    color: red
}

.formBecomeExpo {
    margin-top: 0;
    padding-top: 0
}

.containerTextAreaBecomeExpo span {
    font-family: opensans, sans-serif;
    font-size: .8rem
}

.containerInputTextArea {
    margin-bottom: 5px
}

.containerCommentsOrgany {
    margin-top: 40px;
    margin-bottom: 40px
}

.containerInformationsPerso {
    text-align: initial
}

.containerInformationsPerso .label {
    color: #000;
    font-family: opensansB, sans-serif
}

.infoPersoExpo {
    color: #595959
}

.containerInformationsPerso div {
    margin: 30px 0
}

.infoPersoExpo a {
    font-family: opensans, sans-serif
}

.containerInformationsPerso div:nth-child(1) {
    margin-top: 0
}

.containerInformationsPerso div:last-child {
    margin-bottom: 0
}

.containerExpoPlaceTagInfo {
    text-align: initial;
    margin-top: 50px;
    position: relative;
    padding-top: 50px
}

.containerExpoPlaceTagInfo:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 50%;
    height: 3px;
    background: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0
}
.containerFilters form button{
    background: white;
    padding: 1rem 2rem;
    cursor:pointer;
    border: none;
    font-family: 'opensansB',sans-serif;
    margin: 5px 2rem 20px;
    font-size: 1rem;
}
.containerTagsExpo {
    margin-top: 40px
}

.containerTagsExpo .label {
    font-family: opensansB, sans-serif
}

.ctaVisitWebsite {
    margin: 50px 0 0
}

.containerPaginate {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.listPaginate {
    display: flex;
    box-shadow: var(--shadow);
    padding: 15px 35px;
    font-family: "opensans", 'sans-serif';
    font-size: 1.2rem;
    position: relative;
}

.listPaginate:after,
.listPaginate:before {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    cursor: pointer;
}
.listPaginate a{
    color: black;
}
.listPaginate a:hover{
    border-bottom: 2px solid black;
}
.listPaginate:after {
    background-image: url(../resources/svg/arrowBlack.svg);
    top: -2px;
    right: 15px;
}

.listPaginate:before {
    background-image: url(../resources/svg/arrowBlackLeft.svg);
    left: 15px;
    top: -3px;
}

.listPaginate li {
    margin: 0 10px;
}

.currentPaginate {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

@media only screen and (min-width: 650px) {
    .containerImagesHome {
        max-width: 500px
    }

    .containerTextTitleAim {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1100px
    }

    .containerCtaButton {
        margin-left: auto
    }

    .containerTextTitleAimSecond:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        width: 50%;
        height: 3px;
        background: #f0f0f0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0
    }

    .containerTextTitleAimSecond:after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        width: 50%;
        height: 3px;
        background: #dcdcdc;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0
    }

    .containerTextTitleAimSecond {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        position: relative;
        padding: 100px 0
    }

    .containerTextTitleAimSecond .btnCta {
        margin-right: auto;
        margin-left: 0
    }

    .containerSlide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .containerTextExposant, .containerTextHome {
        margin-left: 5%
    }

    .containerPracticalInformation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        grid-gap: 30px;
        margin-top: 50px
    }

    .containerHome {
        padding: 5rem 2rem 2rem
    }

    .containerHome {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .containerPresentationHome {
        margin-right: 50px
    }

    .containerText {
        width: 70%;
        margin-left: 5%
    }

    .containerAllExposants a {
        margin: 0 auto
    }

    .containerAimHome section:nth-child(2) .containerText {
        margin-left: 0;
        margin-right: 5%
    }

    .containerButtonExpo {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        min-width: 250px
    }

    .containerBecomeExposant {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .containerAboutUs {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: minmax(200px, 1fr) 30px minmax(200px, 1fr);
        grid-template-columns:repeat(2, minmax(200px, 1fr));
        grid-gap: 30px
    }

    .containerAboutUsWhySection {
        margin-bottom: 0;
        -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end
    }

    .containerTextAreaBecomeExpo {
        position: relative
    }

    .containerTextAreaBecomeExpo span {
        position: absolute;
        top: 5px;
        font-family: opensans, sans-serif;
        right: 0;
        font-size: .8rem
    }

    .containerTextAreaBecomeExpo label {
        margin-right: 130px;
        max-width: 500px
    }

}

@media only screen and (min-width: 800px) {
    .searchFilter {
        border: 0
    }

    .searchFilter:before {
        background-image: url(../resources/svg/loupe.svg);
        right: 5px;
        left: inherit;
        top: 7px;
        cursor:pointer
    }

    .containerMenu {
        padding: 3rem 2rem
    }

    .open {
        display: inline-block;
        width: 100%;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        margin: 0;
        border: 0
    }

    .containerPersoExpo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        grid-gap: 50px
    }

    .ctaExpoPerso {
        margin: 50px 0
    }

    .ctaVisitWebsite {
        margin-bottom: 0
    }

    .searchFilter {
        position: absolute;
        right: 10px
    }

    .searchFilterActif {
        position: inherit;
        right: 0;
        align-items: baseline
    }

    .containerFilters {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        position: relative;
        padding: .5rem 1rem
    }

    .search {
        display: none
    }

    select {
        background: url(../resources/svg/arrowDown.svg) no-repeat 92% 50%;
        background-size: 20px
    }
    .containerFilters button {
        margin-right: auto;
        margin-left: 15px;
    }
    .countriesFilter, .pageFilter, .productsFilter, .searchFilter {
        margin: 15px;
        min-width: 25%
    }

    .filtersExposants {
        min-width: 29%
    }

    .open {
        display: inline-block;
        height: 52px;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 7px 50px 7px 7px
    }

    .loupeItem {
        margin: 15px 0
    }

    .informationsContact {
        width: 30%;
        position: -webkit-sticky;
        position: sticky;
        height: fit-content;
        top: 50px
    }

    .formContactContainer {
        width: 60%;
        margin-left: 10%
    }

    .containerFormulary {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1050px;
        margin: 50px auto auto
    }
    .containerFilters form:nth-child(1){
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .container3firstFilters{
        display: flex;
    }
    .containerFilters form button{
        max-width: 400px;
        margin-left: 15px;
    }
    .formContact {
        padding-top: 0;
        margin-top: 0
    }

    .formContact:before {
        display: none
    }

    .containerInputLabel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .formBecomeContainer {
        width: 100%;
        margin-left: 0
    }

    .containerInputBecomeExpo {
        min-width: 40%
    }

    .containerButtonsRadio {
        max-width: 40%
    }

    .containerExpoPlaceTagInfo:before {
        display: none
    }

    .containerExpoPlaceTagInfo {
        margin-top: 0;
        padding-top: 0;
        height: fit-content;
        position: -webkit-sticky;
        position: sticky;
        top: 50px
    }
}

@media only screen and (min-width: 1000px) {
    .logo, .navbar .navbrand .burger {
        display: none
    }

    .principalTitle {
        position: inherit;
        padding: 5px;
    }

    .containerPracticalInformation {
        grid-gap: 50px
    }

    ul .btnTickets {
        padding: 10px 0
    }

    .navbar .social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto
    }

    .navbar .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: auto
    }

    .navbar .menu-item {
        padding: 0;
        margin: 0 .5rem
    }

    ul a {
        font-size: 1rem
    }

    .navbar {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: inherit;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .menu li {
        margin: 30px 20px
    }

    .btnTickets {
        min-width: 100px;
        padding: 10px 0
    }

    .containerPresentationHome .logoHome {
        display: inline-block;
        min-width: 100px
    }

    .containerHome, .slider {
        padding: 50px 3%;
        max-width: 1100px;
        margin: auto
    }

    .btnCtaResto {
        margin-left: auto
    }

    .containerAimHome {
        margin: 4rem 3% -20px
    }

    .ctaTickets {
        display: none
    }

    .containerPresentationHome {
        margin-top: 50px
    }

    .containerTextHome {
        margin-top: 0
    }

    .titleExposant {
        margin-bottom: 100px;
        margin-top: 20px
    }

    .navbar .navbrand {
        display: none;
        padding: 0 2rem
    }

    .containerExposants {
        justify-items: center;
        max-width: 1100px;
        margin: 2rem auto
    }

    .containerFiltersActif {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media only screen and (min-width: 1100px) {
    .containerTextExposant, .containerTextHome {
        margin-left: auto
    }

    .containerText {
        width: inherit;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center
    }

    .containerPracticalInformation {
        grid-gap: 100px
    }

    .containerAboutUs, .containerFilters, .containerHistorical,.containerPaginate {
        max-width: 1100px;
        margin: auto
    }

    .containerFiltersAll {
        background: var(--purpleGradient);
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .containerImagesGallery {
        -ms-grid-columns: minmax(250px, 1fr) 20px minmax(250px, 1fr) 20px minmax(250px, 1fr);
        grid-template-columns:repeat(3, minmax(250px, 1fr));
        max-width: 1100px;
        margin: auto
    }
}
