.current_page_item a{
    color: black;
    border-bottom: 2px solid black;
}
.btnTickets{
    background: rgb(32,0,80);
    background: linear-gradient(90deg, rgba(32,0,80,1) 0%, rgba(78,0,47,1) 100%);
}
